.advantages {
    &__inner {
        padding-bottom: 68px;
    }

    &__item {
        position: relative;
        min-height: 76vh;
        padding: 219px 0 100px;
        background-color: #fcd7b6;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            height: 634px;
            width: 634px;
            right: 160px;
            background-image: url('../../../images/slider-circle.png');
            transform: translateY(-50%);
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    &__product {
        z-index: 1;
        max-width: 640px;
        max-height: 263px;
        overflow: hidden;
        align-self: flex-end;
    }

    &__title {
        max-width: 411px;
        margin-bottom: 20px;
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 72px;
        line-height: 1;
        text-transform: uppercase;
        color: #243f4d;
        text-align: left;
    }

    &__title,
    &__descr,
    &__text {
        @include line-clamp(2);
    }

    &__descr {
        max-width: 360px;
        margin-bottom: 35px;
        font-size: 18px;
        line-height: 1.7;
        color: #436372;
    }

    &__link {
        display: flex;
        max-width: 200px;
        padding:25px 19px 21px 25px;
        height: 60px;
        background-color: $accent-color;
        color:#ffffff;
        transition: color 0.3s linear;
        justify-content: space-between;
        align-items: center;

        &:focus {
            outline-color: #243f4d;
        }
        
        &:hover {
            color: #243f4d;
        }

        &:hover .advantages__arrow {
            transform: scale(1.2);
        }
    }

    &__arrow {
        width: 22px;
        height: 9px;
        fill: #ffffff;
        transition: transform 0.3s linear;
    }

    .slick-dots {
        position: absolute;
        bottom: 45px;
        left: 50%;
        display: flex;
        transform: translateX(-50%);
        
        li {
            opacity: 0.5;
            transition: opacity 0.3s linear;
        }

        li:not(:last-child){
            margin-right: 10px;     
        }

        li:hover {
            opacity: 1;
        }

        .slick-active {
            opacity: 1;
        }

        button {
            width: 30px;
            height: 30px;
            padding: 0;
            font-family: 'Rubik';
            font-weight: 500;
            line-height: 1;
            font-size: 11px;
            background-color: #ffffff;
            border-radius: 50%;
            border: 0;
            color: #243f4d;
            outline-color: #ffffff;
            cursor: pointer;
        }
    }

    &__bottom {
        display: flex;
        background-color: #fef7f0;
    }

    &__info-item {
        display: flex;
        padding: 35px 0px 37px 0px;
        flex: 1;
        justify-content: center;

        &:not(:last-child) {
            border-right: 1px solid #e8e4df;
        }
    }


    &__icon {
        width: 50px;
        height: 50px;
        margin: 12px 30px 0 0; 
    }

    &__info {
        max-width: 217px;
        width: 100%;
    }

    &__top {
        font-family: 'DMSans';
        font-weight: 700;
        font-size: 18px;
        line-height: 2.1;
        color: #414141;
    }

    &__top {
        @include line-clamp(1);
    }

    &__text {
        font-family: 'DMSans';
        font-weight: 400;
        line-height: 1.9;
        color: #585858;
    }
}