
.products {
    &__inner {
        padding-bottom: 96px;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__items {
        display: grid;
        margin-bottom: 185px;
        padding-top: 10px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 40px 20px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        position: relative;
        display: flex;
        max-width: 870px;
        width: 100%;
        padding: 85px 104px 83px 387px;
        background-color: #feefe2;
        flex-direction: column;
        justify-content: center;
    }

    &__img {
        position: absolute;
        bottom: 85px;
        left: 137px;
        max-width: 235px;
        max-height: 410px;
    }

    &__card-name {
        max-width: 250px;
        margin-bottom: 14px;
        font-family: 'DMSans';
        font-weight: 700;
        font-size:26px;
        line-height: 1.2;
        color: $main-text-color;
    }

    &__card-name,
    &__text {
        @include line-clamp(2);
    }

    &__text {
        margin-bottom: 30px;
        line-height: 1.8;
    }

    &__link {
        display: flex;
        max-width: 182px;
        padding: 19px;
        border-radius: 5px;
        border:1px solid #b3b7b5;
        color: $second_text-color;
        align-items: center;
        justify-content: space-between;
        transition: color 0.3s linear;

        &:hover {
            color: $accent-color;
        }

        &:hover .products__arrow{
            transform: scale(1.1);
        } 
    }

    &__arrow {
        width: 22px;
        height: 9px;
        fill: $second_text-color;
        transition: transform 0.3s linear;
    }
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 63px;

    &__category {
        &:not(:last-child) {
            margin-right: 31px;
        }
    }

    &__btn {
        padding: 0;
        background-color: transparent;
        border: none;
        color: #8b8b8b;
        transition: color 0.3s linear;
        cursor: pointer;
        
        &:hover {
            color: $title-color;
        }
    }

    .mixitup-control-active {
        outline-color: $accent-color;
        color: $title-color;
    }
}

.card {
    position: relative;
    display: flex;
    height: 100%;
    padding: 11px 18px 36px;
    font-family: 'DMSans';
    font-weight: 700;
    background-color: #fcfcfc;
    border-radius: 7px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &:hover &__image {
        transform: translateY(20px);
    }

    &:hover &__menu {
        opacity: 1;
    }

    &__image {
        max-width: 240px;
        max-height: 210px;
        margin-bottom: 81px;
        transition: transform 0.2s linear;
        overflow: hidden;
    }

    &__name {
        margin-bottom: 8px;
        font-family: 'DMSans';
        font-weight: 500;
        font-size: inherit;
        @include line-clamp(1);
    }

    &__cost {
        color: $accent-color;
        font-size: 0;
    }

    &__value,
    &__number {
        font-size: 16px;
    }

    &__menu {
        position: absolute;
        display: flex;
        top:48%;
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    &__menu-item {
        display: flex;
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 0 0 19px 4px rgba(37, 37, 37, 1);
        transition: background-color 0.3s linear;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        &:hover {
            background-color: $accent-color;
        }
        
        &:not(:last-child) {
            margin-right: 12px;
        }

        &:hover .card__icon {
            fill:#ffffff;
        }    

        &--btn {
            padding: 0;
            outline-color: $accent-color;
            border: 0;
        }
    }

    &__icon {
        width: 22px;
        height: 18px;
        fill: #a3bbc8;
        transition: fill 0.3s linear;
    }
}