body {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.3;
    background-color: #ffffff;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.title {
    @extend %dmsans-700;
    font-size: 36px;
    text-align: center;
    color: #191919;
}